* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 1.5px;
}

nav h1 {
  font-family: "Audiowide", cursive;
}

.landing h1 {
  font-family: "Michroma", sans-serif;
}
