.footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
    align-items: flex-end;
  }
  .three {
    text-align: right;
  }
  .three p {
    margin: 5px;
  }
  .first p {
    margin: 5px;
  }